.card {
    border:1px solid red;
    background:var(--base);
    grid-column:3;
    grid-row:1;
    text-align: center;
     h3 {
        position:relative;
        bottom:25%;
    }
}

.userImage {
    position: relative;
}

