main {
    // border:1px solid red;
    margin:0 auto;
    display:flex;
    flex-flow:row-reverse wrap;
    justify-content: space-between;
    align-content: center;
    // width:100%;
    @include breakPoint(firstBreak) {
        flex-flow:column-reverse;
        height:100%;
    }
    @include breakPoint(thirdBreak) {
        height:auto;
    }
}

main .wrapper {
    // border:1px solid red;
    display:flex;
    flex-flow:row;
    width:60%;
    margin:0 auto;
    padding:0;
    justify-content: space-between;
    max-height:665px;
    @include breakPoint(firstBreak) {
        width:90%;
        margin:1% auto;
        justify-content: space-around;
    }
    @include breakPoint(thirdBreak) {
        flex-direction:column;
        height:auto;
    }
}

aside {
    border:1px dotted $base;
    background:$background;
    padding:10px;
    display:flex;
    flex-direction:column;
    width:40%;
    button {
        border:1px solid $white;
        background:transparent;
        margin:5px 0;
        padding:10px;
        // border:1px solid red;
        width:100%;
    }
     @include breakPoint(thirdBreak) {
        // flex-direction:row;
        width:100%;
    }
}

.container--card {
    // border:2px solid purple;
    height:100%;
    background:var(--base);
    grid-column:2;
    grid-row:2;
    width:100%;
    text-align: center;
    h3 {
        position:relative;
        bottom:25%;
    }
}

.container--xCards {
    // border:1px solid blue;
    background:$background;
    width:calc(40% - 20px);
    grid-row:1;
    grid-column:2;
    display:flex;
    flex-flow: row wrap;
    margin:0 auto 0 20px;
    padding:0;
    @include breakPoint(firstBreak) {
        width:90%;
        margin-left:0;
        margin:0 auto;
    }
}

.container__catalog {
    border:1px dotted $base;
    display:flex;
    flex-flow:row wrap;
    align-items: flex-start;
    width:100%;
    overflow-y:scroll;
    max-height:666px;
    @include breakPoint(secondBreak) {
        height:auto;
        // border:1px solid red;
    }
}

.container--collection {
    // border:1px solid $light;
    flex:0 1 calc(100% / 2);
    display:flex;
    flex-flow:row wrap;
    align-content:flex-start;
    // border:1px solid red;
    @include breakPoint(firstBreak) {
        flex:0 1 calc(100% / 3);
    }
    @include breakPoint(secondBreak){
        flex:0 1 calc(100% / 2)
    }
    .container__card {
        position: relative;
        text-align: center;
        // width:50%;
        height:min-content;
        // border:1px solid $base;
        &:hover {
            box-shadow:1px 1px 10px lighten($base, 20%);
            z-index:2;
            .btn--delete, .button {
                font-size:2rem;
                color:$primary;
                position: absolute;
                display:block;
                top:5px;
                right:0;
                background:none;
                border:none;
                &:hover {
                    color:$white;
                }
            }
            .button {
                right:30px;
            }

        }
        .container__text {
            // border:1px solid red;
            font-size:3rem;
            position:absolute;
            top:60%;
            right:3%;
            bottom:-20%;
            left:3%;
            overflow:hidden;
            font-family:$cardFont;
            @include breakPoint(thirdBreak) {
                font-size:2.5rem;
                top:55%;
            }
            @include breakPoint(fourthBreak) {
                font-size:2rem;
            }
        }
        .btn--delete, .button {
            display:none;
        }
    }

}