main {
    margin:0 auto;
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap:20px;
    // grid-template-rows:1fr;
    height:100%;
}

.wrapper {
    // border:1px solid red;
    display:grid;
    grid-template-columns:minmax(min-content, 300px) 500px;
    grid-template-rows:600px;
    grid-gap:20px;
    width:60%;
}

aside {
    grid-column:1;
    grid-row:1;
    border:2px solid $light;
    background:lighten($background, 1.5%);
    padding:10px;
    button {
        border:1px solid $light;
        background:transparent;
        margin:5px 0;
        padding:10px;
        // border:1px solid red;
        width:100%;
    }
}

.container--card {
    border:2px solid $light;
    height:100%;
    background:var(--base);
    grid-column:2;
    grid-row:2;
    width:100%;
    text-align: center;
     h3 {
        position:relative;
        bottom:25%;
    }
}

.container--xCards {
    border:2px solid $light;
    // width:50%;
    display:none;
    grid-row:1;
    grid-column:2;
    display:flex;
    flex-flow: row wrap;
}

.container__catalog {
    display:flex;
    // grid-template-columns:1fr;
    flex-flow:row wrap;
    align-items:center;
    align-content: flex-start;
    // border:1px solid green;
}

.container--collection {
    border:1px solid $light;
    flex:0 1 calc(100% / 5);
    display:flex;
    flex-flow:row wrap;
    .container__card {
        width:100%;
        position: relative;
        text-align: center;
        &:hover {
            .btn--delete, .button {
                font-size:2rem;
                color:black;
                position: absolute;
                display:block;
                top:5px;
                right:0;
                background:none;
                border:none;
            }
            .button {
                right:30px;
            }

        }
        .container__text {
            font-size:1.2rem;
            position:absolute;
            top:60%;
            right:2%;
            bottom:0;
            left:2%;
            overflow:hidden;
        }
        .btn--delete, .button {
            display:none;
        }
    }

}

.canvas {
    position: absolute;
    border:1px solid red;
}

.button {
    z-index:10;
}

.hahaha {
    display:none;
}