.container {
    // background:lighten($primary, 1.5%);
    .container__form {
        display:grid;
        grid-template-rows:repeat(4,1fr);
        .form__input {
            border:1px solid $light;
            background:transparent;
            text-align: center;
        }
        .form__btn:not(.form__btn--picker){
            border:1px solid $light;
            background:transparent;
            margin:5px 0;
            padding:10px;
        }
    }

}

.container--cart {
    display:flex;
    flex-flow:row wrap;
    .container__card {
        width:calc(100% / 3);
        // background:$white;
    }
}

.container__btn {
    border:1px solid $light;
            background:transparent;
            margin:5px 0;
            padding:10px;
}

.container--colors {
    // border:1px solid orange;
    .container__form {
        // border:1px solid purple;
        .form__btn--picker {
            border:1px solid $light;
            margin:5px 0;
            width:100%;
            padding:0;
            height:40px;
            background:transparent;
            
        }
        

    }
}