// $background:#E0ECF5;
$background:#E8F1F7;
$primary:#8E8E8E;
$light:#F7FBFC;
$white:white;
$cardFont: 'Amatic SC', cursive;
$baseFont: 'Work Sans', sans-serif;
$headingFont:  'Oswald', sans-serif;

@keyframes slowfill {
    0% {
        fill:$primary;
    }
    100% {
        fill:transparent;
    }
}


@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (max-width:1150px) { @content;}
    }
    @if $point == secondBreak {
        @media (max-width:780px) { @content;}
    }
    @if $point == thirdBreak {
        @media (max-width:550px) { @content;}
    }
    @if $point == fourthBreak {
        @media (max-width:450px) {@content;}
    }
  
}