// $background:#E0ECF5;
$background:#E8F1F7;
$primary:#8E8E8E;
$light:#F9F1EC;
$white:white;
$base:#333333;
$cardFont: 'Amatic SC', cursive;
$baseFont: 'Work Sans', sans-serif;
$headingFont:  'Oswald', sans-serif;

@keyframes strokeAnim {
    from {stroke-dashoffset: -965px;}
    to {stroke-dashoffset: 0px;}
}

@keyframes slowIn {
    0% {
        opacity:0;
    }
    100%{
        opacity:1;
    }
}

@mixin breakPoint($point) {
    @if $point == firstBreak {
        @media (max-width:1150px) { @content;}
    }
    @if $point == secondBreak {
        @media (max-width:780px) { @content;}
    }
    @if $point == thirdBreak {
        @media (max-width:550px) { @content;}
    }
    @if $point == fourthBreak {
        @media (max-width:450px) {@content;}
    }
  
}