$background:#E0ECF5;
$primary:#8E8E8E;
$light:#F7FBFC;
$white:white;
$cardFont: 'Amatic SC', cursive;
$baseFont: 'Work Sans', sans-serif;

@keyframes slowfill {
    0% {
        fill:$primary;
    }
    100% {
        fill:transparent;
    }
}