@import 'partials/_setup.scss';
@import 'partials/_utils.scss';
@import './partials/_enter.scss';
@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_card.scss';
@import 'partials/_palette.scss';
@import 'partials/_footer.scss';

:root {
	--base: #EBDCC2;
}

* {
	transition: all 0.3s ease-in-out;
}

body {
	background:white;
	font-size:1.8rem;
	font-family:$baseFont;
	font-weight:100;
	height:100%;
}

img {
	width:100%;
	display: block;
}


h2 {
	font-size:4.5rem;
	margin:0;
	letter-spacing: 2px;
}

h4 {
	font-family:$cardFont;
	font-size:4rem;
}

h5 {
	margin:0;
	position: relative;
	bottom:10px;
	letter-spacing:3px;
}
