@import 'partials/_setup.scss';
@import 'partials/_utils.scss';
@import 'partials/_header.scss';
@import 'partials/_main.scss';
@import 'partials/_card.scss';
@import 'partials/_palette.scss';

:root {
	--base: #EBDCC2;
}

* {
	transition: all 0.3s ease-in-out;
}

body {
	background:$background;
	font-size:1.8rem;
	font-family:$baseFont;
	font-weight:100;
	height:100%;
}

img {
	width:100%;
	display: block;
}


h2 {
	font-size:4.5rem;
	margin:0;
	letter-spacing: 2px;
}

h4 {
	font-family:$cardFont;
	font-size:4rem;
}

h5 {
	margin:0;
	position: relative;
	bottom:10px;
	letter-spacing:3px;
}

.overlay {
	// border:1px solid red;
	display:flex;
	justify-content: center;
	align-items: center;
	height:100vh;
	z-index:10;
	.wrapper {
		display:flex;
		justify-content: center;
		width:50%;
		// border:1px solid green;
		svg {
			fill:none;
			width:100%;
			&:hover {
				transform:scale(1.2);
			}
		}
	}
	.G, .E, .T, .C, .R, .E2, .A, .T2, .I, .V, .E3 {
		animation:slowfill 8s forwards infinite;
	}

}

#G, #E, #T, #C, #R, #E2, #A, #T2, #I, #V, #E3 {
	animation:slowfill 3s forwards infinite;
}

#E {
    animation-delay:0.25s;
}

#T {
    animation-delay: 0.5s;
}

#C {
    animation-delay: 0.75s;
}
#R {
    animation-delay: 1s;
}
#E2 {
    animation-delay: 1.25s;
}
#A {
    animation-delay: 1.50s;
}
#T2 {
    animation-delay: 1.75s;
}
#I {
    animation-delay: 2s;
}
#V {
	animation-delay: 2.25s;
}
#E3 {
	animation-delay: 2.5s;

}