article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

@keyframes slowfill {
  0% {
    fill: #8E8E8E; }
  100% {
    fill: transparent; } }

main {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 100%; }

.wrapper {
  display: grid;
  grid-template-columns: minmax(min-content, 300px) 500px;
  grid-template-rows: 600px;
  grid-gap: 20px;
  width: 60%; }

aside {
  grid-column: 1;
  grid-row: 1;
  border: 2px solid #F7FBFC;
  background: #e6f0f7;
  padding: 10px; }
  aside button {
    border: 1px solid #F7FBFC;
    background: transparent;
    margin: 5px 0;
    padding: 10px;
    width: 100%; }

.container--card {
  border: 2px solid #F7FBFC;
  height: 100%;
  background: var(--base);
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  text-align: center; }
  .container--card h3 {
    position: relative;
    bottom: 25%; }

.container--xCards {
  border: 2px solid #F7FBFC;
  display: none;
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-flow: row wrap; }

.container__catalog {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: flex-start; }

.container--collection {
  border: 1px solid #F7FBFC;
  flex: 0 1 calc(100% / 5);
  display: flex;
  flex-flow: row wrap; }
  .container--collection .container__card {
    width: 100%;
    position: relative;
    text-align: center; }
    .container--collection .container__card:hover .btn--delete, .container--collection .container__card:hover .button {
      font-size: 2rem;
      color: black;
      position: absolute;
      display: block;
      top: 5px;
      right: 0;
      background: none;
      border: none; }
    .container--collection .container__card:hover .button {
      right: 30px; }
    .container--collection .container__card .container__text {
      font-size: 1.2rem;
      position: absolute;
      top: 60%;
      right: 2%;
      bottom: 0;
      left: 2%;
      overflow: hidden; }
    .container--collection .container__card .btn--delete, .container--collection .container__card .button {
      display: none; }

.canvas {
  position: absolute;
  border: 1px solid red; }

.button {
  z-index: 10; }

.hahaha {
  display: none; }

.container--card {
  position: relative; }
  .container--card h4 {
    margin: 0;
    position: absolute;
    top: 68%;
    right: 2%;
    bottom: 0;
    left: 2%;
    overflow: hidden; }

.container .container__form {
  display: grid;
  grid-template-rows: repeat(4, 1fr); }
  .container .container__form .form__input {
    border: 1px solid #F7FBFC;
    background: transparent;
    text-align: center; }
  .container .container__form .form__btn:not(.form__btn--picker) {
    border: 1px solid #F7FBFC;
    background: transparent;
    margin: 5px 0;
    padding: 10px; }

.container--cart {
  display: flex;
  flex-flow: row wrap; }
  .container--cart .container__card {
    width: calc(100% / 3); }

.container__btn {
  border: 1px solid #F7FBFC;
  background: transparent;
  margin: 5px 0;
  padding: 10px; }

.container--colors .container__form .form__btn--picker {
  border: 1px solid #F7FBFC;
  margin: 5px 0;
  width: 100%;
  padding: 0;
  height: 40px;
  background: transparent; }

:root {
  --base: #EBDCC2; }

body {
  background: #E0ECF5;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 200; }

img {
  width: 100%;
  display: block; }

h4 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10; }
  .overlay .wrapper {
    display: flex;
    width: 50%; }
    .overlay .wrapper svg {
      fill: none; }
  .overlay .G, .overlay .E, .overlay .T, .overlay .C, .overlay .R, .overlay .E2, .overlay .A, .overlay .T2, .overlay .I, .overlay .V, .overlay .E3 {
    animation: slowfill 8s forwards infinite; }

#G, #E, #T, #C, #R, #E2, #A, #T2, #I, #V, #E3 {
  animation: slowfill 8s forwards infinite; }

#E {
  animation-delay: 0.5s; }

#T {
  animation-delay: 1s; }

#C {
  animation-delay: 1.5s; }

#R {
  animation-delay: 2s; }

#E2 {
  animation-delay: 2.5s; }

#A {
  animation-delay: 3s; }

#T2 {
  animation-delay: 3.5s; }

#I {
  animation-delay: 4s; }

#V {
  animation-delay: 4.5s; }

#E3 {
  animation-delay: 5s; }
