article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

html {
  font-size: 62.5%; }

@keyframes slowfill {
  0% {
    fill: #8E8E8E; }
  100% {
    fill: transparent; } }

header {
  text-align: center;
  color: #8E8E8E;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: #c2daea;
  border-bottom: 2px dotted #F7FBFC; }

main {
  margin: 0 auto;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
  align-content: center; }
  @media (max-width: 1150px) {
    main {
      flex-flow: column-reverse;
      height: 100%; } }
  @media (max-width: 550px) {
    main {
      height: auto; } }

main .wrapper {
  display: flex;
  flex-flow: row;
  width: 60%;
  margin: 0 auto;
  padding: 0;
  justify-content: space-between;
  height: 665px; }
  @media (max-width: 1150px) {
    main .wrapper {
      width: 90%;
      margin: 1% auto;
      justify-content: space-around; } }
  @media (max-width: 550px) {
    main .wrapper {
      flex-direction: column;
      height: auto; } }

aside {
  background: #ddeaf3;
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 40%; }
  aside button {
    border: 1px solid #F7FBFC;
    background: transparent;
    margin: 5px 0;
    padding: 10px;
    width: 100%; }
  @media (max-width: 550px) {
    aside {
      width: 100%; } }

.container--card {
  height: 100%;
  background: var(--base);
  grid-column: 2;
  grid-row: 2;
  width: 100%;
  text-align: center; }
  .container--card h3 {
    position: relative;
    bottom: 25%; }

.container--xCards {
  background: #ddeaf3;
  width: calc(40% - 20px);
  grid-row: 1;
  grid-column: 2;
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 20px;
  padding: 0; }
  @media (max-width: 1150px) {
    .container--xCards {
      width: 90%;
      margin-left: 0;
      margin: 0 auto; } }

.container__catalog {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  width: 100%;
  overflow-y: scroll;
  height: 665px; }
  @media (max-width: 780px) {
    .container__catalog {
      height: auto; } }

.container--collection {
  border: 1px solid #F7FBFC;
  flex: 0 1 calc(100% / 2);
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start; }
  @media (max-width: 1150px) {
    .container--collection {
      flex: 0 1 calc(100% / 3); } }
  @media (max-width: 780px) {
    .container--collection {
      flex: 0 1 calc(100% / 2); } }
  .container--collection .container__card {
    position: relative;
    text-align: center; }
    .container--collection .container__card:hover .btn--delete, .container--collection .container__card:hover .button {
      font-size: 2rem;
      color: #8E8E8E;
      position: absolute;
      display: block;
      top: 5px;
      right: 0;
      background: none;
      border: none; }
      .container--collection .container__card:hover .btn--delete:hover, .container--collection .container__card:hover .button:hover {
        color: white; }
    .container--collection .container__card:hover .button {
      right: 30px; }
    .container--collection .container__card .container__text {
      font-size: 3rem;
      position: absolute;
      top: 60%;
      right: 3%;
      bottom: -20%;
      left: 3%;
      overflow: hidden;
      font-family: "Amatic SC", cursive; }
      @media (max-width: 550px) {
        .container--collection .container__card .container__text {
          font-size: 2.5rem;
          top: 55%; } }
      @media (max-width: 450px) {
        .container--collection .container__card .container__text {
          font-size: 2rem; } }
    .container--collection .container__card .btn--delete, .container--collection .container__card .button {
      display: none; }

.container--card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; }
  .container--card .container__card {
    position: relative;
    bottom: 75px; }
  .container--card h4 {
    margin: 0;
    position: absolute;
    top: 68%;
    right: 2%;
    bottom: 0;
    left: 2%;
    overflow: hidden; }

.container label {
  text-align: center;
  width: 100%;
  display: inline-block;
  line-height: 2; }

.container .container__form {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  position: relative; }
  .container .container__form .form__input {
    border: 1px solid #F7FBFC;
    background: transparent;
    text-align: center; }
    .container .container__form .form__input:focus {
      border-bottom: 2px solid #8E8E8E; }
  .container .container__form .form__btn:not(.form__btn--picker) {
    border: 1px solid #F7FBFC;
    background: transparent;
    margin: 5px 0;
    padding: 10px; }
    .container .container__form .form__btn:not(.form__btn--picker):hover {
      border: 1px solid #8E8E8E; }

.container--cart {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; }
  @media (max-width: 780px) {
    .container--cart {
      justify-content: space-around;
      margin: 0 auto;
      width: 85%; } }
  .container--cart .container__card {
    width: calc(100% / 3); }
    .container--cart .container__card:hover {
      transform: scale(1.2);
      cursor: pointer; }
    @media (max-width: 780px) {
      .container--cart .container__card {
        width: calc(100% / 2); } }
    @media (max-width: 550px) {
      .container--cart .container__card {
        width: calc(100% / 3); } }

.container--colors .container__form .form__btn--picker {
  border: 1px solid #F7FBFC;
  margin: 5px 0;
  width: 100%;
  padding: 0;
  height: 40px;
  background: transparent; }

:root {
  --base: #EBDCC2; }

* {
  transition: all 0.3s ease-in-out; }

body {
  background: #E8F1F7;
  font-size: 1.8rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 100;
  height: 100%; }

img {
  width: 100%;
  display: block; }

h2 {
  font-size: 4.5rem;
  margin: 0;
  letter-spacing: 2px; }

h4 {
  font-family: "Amatic SC", cursive;
  font-size: 4rem; }

h5 {
  margin: 0;
  position: relative;
  bottom: 10px;
  letter-spacing: 3px; }

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 10; }
  .overlay .wrapper {
    display: flex;
    justify-content: center;
    width: 50%; }
    .overlay .wrapper svg {
      fill: none;
      width: 100%; }
      .overlay .wrapper svg:hover {
        transform: scale(1.2); }
  .overlay .G, .overlay .E, .overlay .T, .overlay .C, .overlay .R, .overlay .E2, .overlay .A, .overlay .T2, .overlay .I, .overlay .V, .overlay .E3 {
    animation: slowfill 8s forwards infinite; }

#G, #E, #T, #C, #R, #E2, #A, #T2, #I, #V, #E3 {
  animation: slowfill 3s forwards infinite; }

#E {
  animation-delay: 0.25s; }

#T {
  animation-delay: 0.5s; }

#C {
  animation-delay: 0.75s; }

#R {
  animation-delay: 1s; }

#E2 {
  animation-delay: 1.25s; }

#A {
  animation-delay: 1.50s; }

#T2 {
  animation-delay: 1.75s; }

#I {
  animation-delay: 2s; }

#V {
  animation-delay: 2.25s; }

#E3 {
  animation-delay: 2.5s; }
